@model Proxynet.Models.EditUserViewModel
@{
    ViewBag.Title = "Edit";
}

<h2>Редактирование пользователя "@Model.User.DisplayName"</h2>

@using( Html.BeginForm( "EditName", "User" ) )
{
    <div class="form-group">
        @Html.HiddenFor( m => m.User.Id )
        @Html.HiddenFor( m => m.User.Login )
        @Html.LabelFor( m => m.User.DisplayName, new { @class = "col-md-2 control-label" } )
        <div class="col-md-10">
            @Html.TextBoxFor( m => m.User.DisplayName, new { @class = "form-control" } )
            @Html.ValidationMessageFor( m => m.User.DisplayName, "Некорректное имя пользователя", new { @class = "text-danger" } )
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Изменить" class="btn btn-default"/>
        </div>
    </div>
}

