<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="utf-8" />
    <base href="/" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - FTP Proxy admin UI</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @(Scripts.Render("~/bundles/systemjs"))
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top" ng-controller="NavbarController as ctrl">
        <div class="container">
            @if ( Request.IsAuthenticated )
            {
                <ul class="nav navbar-nav">
                    <li ng-repeat="page in ctrl.getPages()" ng-click="ctrl.setPage(page.page)" ng-class="page.isActive ? 'active' : ''"><a href="">{{page.name}}</a></li>
                </ul>
            }
            <div class="navbar-collapse collapse">
                @Html.Partial( "_LoginPartial" )
            </div>
        </div>
    </div>
<div class="container body-content">
    <br/>
    @RenderBody()
    <hr/>
    <footer>
        <p>&copy; @DateTime.Now.Year - FTP Proxy admin UI</p>
    </footer>
</div>
    @(Scripts.Render("~/bundles/jquery"))
    @(Scripts.Render("~/bundles/angular"))
    @(Scripts.Render("~/bundles/lodash"))
    @(Scripts.Render("~/bundles/app"))
    @(Scripts.Render("~/bundles/bootstrap"))
    @(RenderSection("scripts", required: false))
    <script>
        System.import('app.module');
    </script>
</body>
</html>
